
<%include ./layout/header %>
<div style="color:blue;text-align:center; font-size:50px;margin:20px">IoTBlue</div>
<div style="color:blue;text-align:center">The Smart World Maker and Enabler</div>
<br>
<div style="background-color:#9aafe0;border-radius: 8px;text-align: center;padding: 5px;margin: 5px">
    <a href="/products" style="text-decoration:none"> Products</a>
</div>
<div style="background-color:#9aafe0;border-radius: 8px;text-align: center;padding: 5px;margin: 5px">
    <a href="/items" style="text-decoration:none"> Items</a>
</div>
